<div class="HeroImage">
	<img src="https://static.pexels.com/photos/28041/pexels-photo-28041.jpg" alt="america">
</div>
<div class="container-fluid text-center">
 	<div class="col-md-4">
 		<h3>
	 		<span class="fa-stack fa-lg">
	  		<i class="fa fa-circle fa-stack-2x"></i>
	 		<i class="fa fa-flag fa-stack-1x fa-inverse"></i>
			</span> Wording
		</h3>
		<p>Retro chillwave cold-pressed, chicharrones bitters master cleanse kale chips trust fund. Gochujang seitan etsy 8-bit before they sold out, retro actually. Meh 90's scenester, taxidermy fap marfa letterpress squid godard cronut before they sold out gluten-free. Humblebrag mlkshk chambray letterpress. Swag kitsch biodiesel narwhal green juice tote bag. Poutine flexitarian art party direct trade church-key sriracha pinterest. Kombucha fanny pack tumblr gentrify bushwick.</p>
 	</div>
 	<div class="col-md-4">
 		<h3>
	 		<span class="fa-stack fa-lg">
	  		<i class="fa fa-circle fa-stack-2x"></i>
	 		<i class="fa fa-flag fa-stack-1x fa-inverse"></i>
			</span> Wording
		</h3>
		<p>Retro chillwave cold-pressed, chicharrones bitters master cleanse kale chips trust fund. Gochujang seitan etsy 8-bit before they sold out, retro actually. Meh 90's scenester, taxidermy fap marfa letterpress squid godard cronut before they sold out gluten-free. Humblebrag mlkshk chambray letterpress. Swag kitsch biodiesel narwhal green juice tote bag. Poutine flexitarian art party direct trade church-key sriracha pinterest. Kombucha fanny pack tumblr gentrify bushwick.</p>
 	</div>
 	<div class="col-md-4">
 		<h3>
	 		<span class="fa-stack fa-lg">
	  		<i class="fa fa-circle fa-stack-2x"></i>
	 		<i class="fa fa-flag fa-stack-1x fa-inverse"></i>
			</span> Wording
		</h3>
		<p>Retro chillwave cold-pressed, chicharrones bitters master cleanse kale chips trust fund. Gochujang seitan etsy 8-bit before they sold out, retro actually. Meh 90's scenester, taxidermy fap marfa letterpress squid godard cronut before they sold out gluten-free. Humblebrag mlkshk chambray letterpress. Swag kitsch biodiesel narwhal green juice tote bag. Poutine flexitarian art party direct trade church-key sriracha pinterest. Kombucha fanny pack tumblr gentrify bushwick.</p>
 	</div>
</div>