/* credit goes to http://callmenick.com/post/simple-parallax-scrolling-effect */

body {
	font-size: 16px;
	margin-bottom: 2em;
}


#navbar {
	border-radius: 0;
	margin-bottom: 0;
}
.navbar-brand>img {
	top: 0;
	height: 30px;
	width: 200px;
	padding: 0;
	margin: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: 'Ramabhadra', sans-serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: 'Hind', sans-serif;
}
section.module.parallax-1 {
  background-image: url("https://static.pexels.com/photos/4101/freedom-united-states-of-america-flag-america.jpeg");
}
section.module.parallax-2 {
  background-image: url("http://communitytable.parade.com/wp-content/uploads/2013/03/soldiers-ftr.jpg");
}
section.module.parallax-3 {
  background-image: url("https://cdn-news.wgbh.org/s3fs-public/FEMALE-SOLDIER-SALUTING-facebook.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}

.dashboard{
		background: #3E3F3A;
}


/* Code Pen Code By Zachary Brady */

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);

.banner {
    background: url(http://www.lewis-mcchord.army.mil/84ca/images/handshake-u479.png) no-repeat 50% 50%;
    background-size: cover;
    width:100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

