<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container" class="dashboard">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4 text-center">
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-question fa-stack-1x fa-inverse"></i>
        </span>
        <h2>Ask A Question</h2>
      </div>

      <div class="col-md-4 text-center">
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x text-success"></i>
          <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
        </span>

        <h2>Answer A Question</h2>

      </div>

      <div class="col-md-4 text-center">
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x text-warning"></i>
          <i class="fa fa-search fa-stack-1x fa-inverse"></i>
        </span>

        <h2>Search For Questions</h2>
      </div>
    </div>
  </div>
</div>
