<br>
<a ng-click="showF()"><i class="fa fa-plus"></i> Submit Post</a></li>


  <div class="container-fluid col-md-offset-1 col-md-10 slide" ng-show="showForm">
    <form name="myForm">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" name="title" placeholder="be creative" class="form-control" ng-model="item.title" validate ng-required="true">
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea name="description" class="form-control" ng-model="item.description" validate ng-required="true"></textarea>
      </div>
      <div class="form-group">
        <label for="author">Author:</label>
        <input type="text" name="author" class="form-control" ng-model="item.author" validate ng-required='true'>
      </div>
      <div class="form-group">
        <label for="image">Image Url:</label>
        <input type="text" name="image" class="form-control" ng-model="item.image" validate ng-required="true">
      </div>
      <div class="form-group">
        <button ng-click="addPost(item, myForm)" type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>

  <div class="contaniner-fluid col-md-offset-1 col-md-10">
  <div>

  <div class="slide" ng-repeat="item in items | filter:search.string | orderBy: category:sortReverse">
    <div class="jumbotron slide">
      <div class="row slide">
        <img ng-src='{{item.image}}' alt="placebear"  class="col-md-4 display-image" />
        <h3 class="col-md-10"><b>{{item.title}}</b> <span href="#" ng-click="upVote(item)"><i class="fa fa-thumbs-o-up"></i></span> <span ng-click="downVote(item)"><i class="fa fa-thumbs-o-down"></i></span> <span ng-class="{ positive: item.votes > 0, negative: item.votes < 0, nothing: item.votes === 0}">{{item.votes}}</span></h3>
        <p class="col-md-8 text-left">{{item.description}}</p>
        <p class="col-md-offset-2 col-md-8 small"><time>{{item.createdAt | amCalendar}}</time> | postedBy: <b>{{item.author}} | <a ng-click="showComments(item)"><ng-pluralize count="item.comments.length"
                    when="{'0': 'no answers yet',
                        '1': 'answer',
                           'other': 'answers'}">
            </ng-pluralize>: {{item.comments.length}}</a> | <a ng-click="addAComment(item)">add a comment</a></b></p>
      </div>

      <div ng-repeat="comment in item.comments track by $index" class="slide">
        <div ng-show="item.commentBool" class="row">
          <p class="col-md-offset-1"><b>Reputation</b>: {{item.reputation}}</p> <p class="col-md-offset-1"><b>Answer</b>: {{comment.comment}}</p> <p class="col-md-offset-1">By: <b>{{comment.author}}</b></p>
        </div>
      </div>
      <div class="col-md-offset-1 slide" ng-show="item.addCommentsBool">
        <form name="myCommentsForm">
          <label for="com">Comment</label>
          <input placeholder="comment" type="text" name="com" class="form-control" ng-model="comment.comment">
          <label for="authorC">Author:</label>
          <input class="form-control" type="text" name="authorC" placeholder="author" ng-model="comment.author">
          <br>
          <button ng-click="addComment(comment, item)" type="btn btn-primary">Add Comment</button>
        </form>
      </div>
    </div>
  </div>
  </div>