<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row jumbotron">
        <div class="row">
          <br>
          <h3 class="">
            What can I do to help U.S. military veterans as an American citizen?
          </h3>
          <h4>
            asked by anonymous.
          </h4>
        </div>

        <div class="row">
          <div class="col-md-12">
            <br>
            <div class="row">
              <h4>
                Dreamcatcher pabst letterpress, mlkshk PBR&B hashtag paleo retro 3 wolf moon austin banjo health goth tattooed banh mi flannel. 90's franzen kale chips, try-hard polaroid photo booth aesthetic ?
              </h4>
            </div>

            <br>
            <br>
            <div class="row">
              <div class="col-md-3">
                <h5>
                  Answered by John Smith
                </h5>
              </div>

              <div class="col-md-9 text-left">
                <h5 class="pull-left">
                  Upvote
                </h5>
                <h5>DownVote</h5>
                <h5>Answer</h5>
                <!-- <i class="fa fa-plus fa-lg text-success pull-left"></i>
                <i class="fa fa-minus fa-lg text-danger"></i>
                <i class="fa fa-pencil fa-lg text-warning"></i> -->
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>
