<section class="module parallax parallax-1">
  <div class="container">
    <h1>Duty</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>A Support Platform</h2>
    <hr>
    <p>At Yellow Ribbon we believe that trust is an important part of accessing care. We provide a platform for veterans who served our country to receive curated answers and advice from other veterans and professionals. We are a veteran-curated, veteran-selected mentors discovery tool.</p>

    <p>Since 9/11, 2.4 million brave men and women have been deployed around the world to fight for our country. The percentage of those returning with post-traumatic stress disorder (PTSD) and minor traumatic brain injury (mTBI) is staggering. As these numbers continue to grow, it becomes more and more difficult for warriors to access timely and effective mental health care.</p>

	<p>There are peer-to-peer services that are already offering 24/7 support to veterans, especially in crises. These services are already an important part of linking care. However, we believe that through Yellow Ribbon, we can provide a platform that can help veterans build relationship and trust with the very, real people who are there to help.</p>
	<hr>

  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container">
    <h1>Honor</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Lorem Ipsum Dolor</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consequuntur, nesciunt dicta, esse rem ducimus itaque quis. Adipisci ullam nam qui illum debitis sit ad in delectus, repudiandae non dolorum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit veritatis, facere aliquid itaque tempore consequatur nihil sint enim aliquam id saepe magnam totam repellat placeat a fugit nulla molestias voluptas</p>
  </div>
</section>

<section class="module parallax parallax-3">
  <div class="container">
    <h1>Rest</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Lorem Ipsum Dolor</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consequuntur, nesciunt dicta, esse rem ducimus itaque quis. Adipisci ullam nam qui illum debitis sit ad in delectus, repudiandae non dolorum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit veritatis, facere aliquid itaque tempore consequatur nihil sint enim aliquam id saepe magnam totam repellat placeat a fugit nulla molestias voluptas</p>
  </div>
</section>