<!-- <div class="HeroImage">
	<img src="https://static.pexels.com/photos/28041/pexels-photo-28041.jpg" alt="america">
</div> -->
<section class="module parallax parallax-1">
  <div class="container">
    <h1>Duty</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>A Support Platform</h2>
    <hr>
    <p>Since 9/11, 2.4 million brave men and women have deployed around the world to fight for our country. The percentage of those returning with post-traumatic stress disorder (PTSD) and traumatic brain injury (TBI) is staggering. As these numbers continue to grow, it becomes more and more difficult for warriors to access timely and effective mental health care.</p>

    <p>We want to provide a plateform for the GIs that have surved our country to get answers and advice. At Yellow Ribbon we feel that the only ones quilified to give advise are Veterans with experience and the professionals they recommend. </p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consequuntur, nesciunt dicta, esse rem ducimus itaque quis. Adipisci ullam nam qui illum debitis sit ad in delectus, repudiandae non dolorum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit veritatis, facere aliquid itaque tempore consequatur nihil sint enim aliquam id saepe magnam totam repellat placeat a fugit nulla molestias voluptas</p>
  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container">
    <h1>Honor</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Lorem Ipsum Dolor</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consequuntur, nesciunt dicta, esse rem ducimus itaque quis. Adipisci ullam nam qui illum debitis sit ad in delectus, repudiandae non dolorum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit veritatis, facere aliquid itaque tempore consequatur nihil sint enim aliquam id saepe magnam totam repellat placeat a fugit nulla molestias voluptas</p>
  </div>
</section>

<section class="module parallax parallax-3">
  <div class="container">
    <h1>Rest</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Lorem Ipsum Dolor</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consequuntur, nesciunt dicta, esse rem ducimus itaque quis. Adipisci ullam nam qui illum debitis sit ad in delectus, repudiandae non dolorum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit veritatis, facere aliquid itaque tempore consequatur nihil sint enim aliquam id saepe magnam totam repellat placeat a fugit nulla molestias voluptas</p>
  </div>
</section>